SSO_GAD/Web References/GLT_WS/emulacionRSA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://s16988306.onlineus.com:8050/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://s16988306.onlineus.com:8050/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://s16988306.onlineus.com:8050/">
      <s:element name="RSAUserAuthentication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="token" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RSAUserAuthenticationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RSAUserAuthenticationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RSAUserAuthenticationSoapIn">
    <wsdl:part name="parameters" element="tns:RSAUserAuthentication" />
  </wsdl:message>
  <wsdl:message name="RSAUserAuthenticationSoapOut">
    <wsdl:part name="parameters" element="tns:RSAUserAuthenticationResponse" />
  </wsdl:message>
  <wsdl:portType name="EmulacionRSASoap">
    <wsdl:operation name="RSAUserAuthentication">
      <wsdl:input message="tns:RSAUserAuthenticationSoapIn" />
      <wsdl:output message="tns:RSAUserAuthenticationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmulacionRSASoap" type="tns:EmulacionRSASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RSAUserAuthentication">
      <soap:operation soapAction="http://s16988306.onlineus.com:8050/RSAUserAuthentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmulacionRSASoap12" type="tns:EmulacionRSASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RSAUserAuthentication">
      <soap12:operation soapAction="http://s16988306.onlineus.com:8050/RSAUserAuthentication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmulacionRSA">
    <wsdl:port name="EmulacionRSASoap" binding="tns:EmulacionRSASoap">
      <soap:address location="http://74.208.202.242:8050/emulacionRSA.asmx" />
    </wsdl:port>
    <wsdl:port name="EmulacionRSASoap12" binding="tns:EmulacionRSASoap12">
      <soap12:address location="http://74.208.202.242:8050/emulacionRSA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>