SSO_GAD/Web References/co.gov.banrep.osb/AdministradorRSAWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://banrep.gov.co/s3" targetNamespace="http://banrep.gov.co/s3" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AdministradorRSAException" type="tns:AdministradorRSAException" />
  <xs:element name="autenticarRSA" type="tns:autenticarRSA" />
  <xs:element name="autenticarRSAResponse" type="tns:autenticarRSAResponse" />
  <xs:complexType name="autenticarRSA">
    <xs:sequence>
      <xs:element minOccurs="0" name="datosPeticion" type="tns:peticionWSAutenticarUsuarioRSA" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="peticionWSAutenticarUsuarioRSA">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSesion" type="xs:string" />
      <xs:element minOccurs="0" name="passCode" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autenticarRSAResponse">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="return" type="tns:respuestaWSAutenticarUsuarioRSA" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respuestaWSAutenticarUsuarioRSA">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:mensajeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idSesion" type="xs:string" />
          <xs:element name="resultado" type="xs:boolean" />
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mensajeBase">
    <xs:sequence>
      <xs:element name="codigoRespuesta" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idMensaje" type="xs:string" />
      <xs:element minOccurs="0" name="ipPeticion" type="xs:string" />
      <xs:element minOccurs="0" name="operacion" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdministradorRSAException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>